.ground {
    width: 100%;
    height: 10%;
    background-color: #8b4a46;
    bottom: 0;
    position: fixed;
}

.panorama {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-image: url('../images/desert.png');
    background-color: #8f48af;
    background-position: center;
    top: 0;
    left: 0;
}

.gameScore {
    position: fixed;
    text-align: center;
    font-family: URW Chancery L, cursive;
    background-color: #d89548;
    color: #f9f6ff;
    border-color: #8d4731;
    line-height: 200px;
    border-style: dashed;
    font-size: 25px;
    border-width: 10px;
    width: 400px;
    height: 200px;
    opacity: 0;
}

.healthScore-contentDiv{
    bottom: 16%;
    width: 300px;
    height: 50px;
    position: fixed;
    background-color: #0ba754;
    opacity: 0.6;
    border-radius: 33px;
    font-size: 25px;
    line-height: 50px;
}

.healthScore-textDiv{
    bottom: 15%;
    width: 300px;
    height: 50px;
    position: fixed;
    font-size: 25px;
    border-radius: 33px;
}

.healthScore{
    width: 300px;
    height: 50px;
    bottom: 15%;
    right: 10px;
    position: fixed;
    border-style: groove;
    border-width: 10px;
    border-color: #f83837;
    text-align: center;
    font-family: URW Chancery L, cursive;
    border-radius: 33px;
}